html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.videos video {
  width: 30%;
}
.notifications {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 10px;
  background-color: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
